*{

}

.header {
    padding: 20px;
    background: no-repeat right/40% url("imagens/1ecf7375-9cc9-4b3d-ba9a-c1cdcab267b5-1666814673964.png");
    background-color: rgb(3 68 34)
    
}

.header a{
    font-size:large;
    padding: 10px ;
    color: rgb(7, 7, 7);
    text-align: center ;
    margin: auto;
}

.meuNome{
    color: rgb(250, 250, 250);
    margin:0% 4%;
    display: flex;
    justify-content: left;
    font-size: 40px;
    font-style:unset;
}
.header img{
    width: 500px;
    margin: 5px;
    display:left;
    justify-content: center;
    border-style:ridge
    
}



.header p{
font-size: medium;
padding: 10px ;
}



