*{

}

.header {
    
    padding: 1% 3%;
    margin: auto;
    background: no-repeat right/60% url("imagens/1ecf7375-9cc9-4b3d-ba9a-c1cdcab267b5-1666814673964.png");
    background-color: rgb(3 68 34)
    
}

.header a{
    padding-top: 0.5%;
    display:flex;
    justify-content: right;
    font-size:x-large;
    color: rgb(255, 255, 255);
    margin: 1%;
    text-decoration: none;
    text-align: end;
}

.meuNome{
    color: rgb(250, 250, 250);
    margin:0% 11%;
    display: flex;
    justify-content: left;
    font-size: 35px;
    font-style:unset;
}
.header img{
    width: 500px;
    margin: 1% 5%;
    display:left;
    justify-content: center;
    border-style:ridge
    
}



.header p{
font-size: medium;
padding: 10px ;
}



